# Get your SBC API Key at https://dashboard.stablecoin.xyz
VITE_SBC_API_KEY={{apiKey}}
# Get your Dynamic Environment ID at https://app.dynamic.xyz/
VITE_DYNAMIC_ENVIRONMENT_ID=your_dynamic_env_id
# Optional:
VITE_CHAIN=baseSepolia
VITE_RPC_URL=