/// <reference types="vite/client" />

interface ImportMetaEnv {
  readonly VITE_SBC_API_KEY: string
  readonly VITE_DYNAMIC_ENVIRONMENT_ID: string
  readonly VITE_CHAIN?: string
  readonly VITE_RPC_URL?: string
}

interface ImportMeta {
  readonly env: ImportMetaEnv
}


